<div class="row">

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document" >
		<div class="modal-content">
		  <div class="modal-header" style="background-color: #333333;border:1px solid #FF582E;">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true" style="color: #FF582E;">&times;</span>
			</button>
			<img ng-src="./img/{{lCtrl.game.picture}}" style="width:100%">
			<h2 class="modal-title text-center" id="myModalLabel" style="font-family:retro-font;color:#FF582E;margin-top:15px;">{{ lCtrl.game.name}}</h2>
			<h4 class="modal-title text-center" id="myModalLabel" style="font-family:retro-font;color:white;">year: {{ lCtrl.game.year}}</h4>
			<hr />
			<p class="text-justify" style="color:white;">{{ lCtrl.game.description}}</p>
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>
	<div ng-repeat="game in lCtrl.gameList">
		<div class="col-md-4 col-xs-6  col-sm-offset-0">
			
			<div class="thumbnail" style="background-color: #333333;border:1px solid #FF582E;">
			  <img ng-src="./img/{{game.picture}}" alt="...">
			  <div class="caption">
				<h3 style="font-family:retro-font;color:#FF582E" class="text-center" >{{ game.name}}</h3>
				<p class="text-justify" style="color:white;">{{game.description | limitTo : '250'}}...</p>
				<p>
					<button class="btn btn-primary" role="button" ng-click="lCtrl.viewGame(game._id)">View >></button>
					<button class="btn btn-warning" role="button" ng-click="lCtrl.editGame(game._id)" ng-if="isAuthenticated()">Edit</button>
					<button class="btn btn-danger" role="button" ng-click="lCtrl.deleteGame(game._id)" ng-if="isAuthenticated()">Delete</button>
				</p>
			  </div>
			</div>
		</div>
	</div>	
</div>		